* {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #222831;
}

::-webkit-scrollbar-thumb {
    background: #757575;
}

::-webkit-scrollbar-thumb:hover {
    background: #7e57c2;
}

body {
    background: #222831;
}

